.dwp-consent-container {
    background: white;
    color: black;
    padding: 5px 20px;
    z-index: 9999999;
    border: black 2px solid;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 25%;
    width: 45%;
    font-size: 120%;
}
