.dwp-consent-container {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.2em;
    display: none;
    z-index: 9999999;
    border: black 2px solid;
    display: block;
}


.dwp-consent-container-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 400px;
    width: 30%;
}

.dwp-consent-container-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 100%;
    -webkit-animation-name: slide-from-left;
    -webkit-animation-duration: .6s;
    animation-name: slide-from-left;
    animation-duration: .6s;
}

@-webkit-keyframes slide-from-left {
    from {
        left: -80%;
    }
    to {
        left: 0;
    }
}

@keyframes slide-from-left {
    from {
        left: -80%;
    }
    to {
        left: 0;
    }
}

.header, h1 {
    text-align: left;
    padding: 0;
}

.subheader, h2 {
    text-align: left;
    padding: 0;
}


.fact {
    margin: 10px;
}

.inside-fact {
    padding: 0 15px 10px 10px;
}

#save-and-close {
    background: green;
    color: white;
    font-size: 150%;
    padding: 10px;
    margin-top: 10px;
}

#save-and-close :hover {
    background: #226600;
}

.inline {
  border: 0;
}

.block-label {
  margin-right:40px;
  font-size: 120%;
  font-weight: bold;
}

input[type='radio'] { 
  transform: scale(2); 
  margin: 20px;
}

.form-hint {
  color: grey;
  font-size: 120%;
}
